<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhjl.tech.store.mapper.store.AttestMapper">

	<!-- 通用查询结果列-->
	<sql id="Attest_List">
		id, update_time AS updateTime, create_time AS createTime, version,ancestors_ordersn AS ancestorsOrdersn,parent_ordersn AS parentOrdersn, ordersn, channel_id AS channelId, channel_userid AS channelUserid, channel_ordersn AS channelOrdersn, biz_sign AS bizSign, provinder_id AS provinderId, chained,chained_content AS chainedContent,state,state_time AS stateTime, wallet_addr AS walletAddr, public_key AS publicKey, attest_sign AS attestSign, attest_type AS attestType, biz_type AS bizType, file_name AS fileName, file_type AS fileType, file_size AS fileSize, file_sign AS fileSign, file_hash AS fileHash,  encrypted, encrypt_alog AS encryptAlog, encrypt_key AS encryptKey, owner_type AS ownerType, owner_id AS ownerId, owner_name AS ownerName, agent_name AS agentName, agent_phone AS agentPhone, agent_email AS agentEmail, origin_time AS originTime, start_time AS startTime,expired_time AS expiredTime,duration, description, price, request_time AS requestTime,platform_sign AS platformSign
	</sql>

	<!--根据订单号查询表信息-->
	<select id="getAttestByOrdersn" resultType="Attest">
		select
		<include refid="Attest_List"/>
		FROM attest a
		WHERE a.ordersn=#{ordersn}
		limit 1
	</select>

	<!--查询过期订单,old-->
	<select id="getExpiredAttests" resultType="Attest">
		select
		<include refid="Attest_List"/>
		FROM attest a
		WHERE NOW() > a.expired_time AND a.state=#{state} AND NOT EXISTS
		(SELECT 1 FROM attest b WHERE b.parent_ordersn = a.ordersn)
		limit 500
	</select>

	<!--根据渠道订单号查询-->
	<select id="getAttestByChannelOrdersn" resultType="Attest">
		select
		<include refid="Attest_List"/>
		FROM attest a
		WHERE a.channel_ordersn=#{channel_ordersn}
		limit 1
	</select>

	<!--根据父节点订单号查询存证信息-->
	<select id="getAttestByParentOrdersn" resultType="Attest">
		select
		<include refid="Attest_List"/>
		FROM attest a
		WHERE a.parent_ordersn=#{parent_ordersn}
		limit 1
	</select>

	<!--根据渠道订单号查询表信息,对该数据加行锁-->
	<select id="getAttestForUpdateByOrdersn" resultType="Attest">
		select
		<include refid="Attest_List"/>
		FROM attest a
		WHERE a.ordersn=#{ordersn}
		limit 1  FOR UPDATE
	</select>

	<!--根据祖先订单号查询表信息-->
	<select id="getAttestByAncestorsOrdersn" resultType="Attest">
		select
		<include refid="Attest_List"/>
		FROM attest a
		WHERE a.ancestors_ordersn=#{ancestors_ordersn}
	</select>

	<!--根据FileHash/OwnerId查询存证信息-->
	<select id="getAttestByFileHashAndOwnerId" resultType="Attest">
		select
		<include refid="Attest_List"/>
		FROM attest a
		WHERE a.file_hash=#{fileHash} AND a.owner_id=#{ownerId}
		limit 1
	</select>


	<!--根据祖先订单号查询表信息-->
	<select id="getTempOrderByAncestorsOrdersn" resultType="TempOrder">
		select
		<include refid="Attest_List"/>
		FROM attest t
		WHERE t.channel_ordersn=#{channel_ordersn}
		limit 1  FOR UPDATE
	</select>
</mapper>